Altova/MapForce2018/MapForceExamples/GenericExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GENERIC_EXPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="META" type="xs:anyType"/>
				<xs:element name="VALUES" type="xs:anyType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
