Altova/MapForce2018/MapForceExamples/Tutorial/Addresses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">	
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstName"/>
				<xs:element ref="LastName"/>
				<xs:element ref="City"/>
				<xs:element ref="Street"/>
				<xs:element ref="Number"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirstName" type="xs:string"/>
	<xs:element name="LastName" type="xs:string"/>
	<xs:element name="City" type="xs:string"/>
	<xs:element name="Number" type="xs:string"/>
	<xs:element name="Street" type="xs:string"/>	
</xs:schema>
